@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.dashboard-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.container-content {
  min-height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: white;
}
