.user-login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-login_left {
  height: 100vh;
  width: 50%;
  background: url("https://images.pexels.com/photos/2092474/pexels-photo-2092474.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.user-login_right {
  height: 100vh;
  width: 50%;
  background-color: rgb(235, 238, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}
