.layout-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  background-color: rgb(226, 217, 217);
}

.layout-main {
  grid-area: main;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  width: 90%;
  margin: 1.5rem auto;
}
