.layout-sidenav {
  grid-area: sidenav;
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.avatar {
  height: 30%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 2rem;
}

.sidenav-content {
  min-height: 30%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
/* .sidenav-list {
  width: 80%;
  height: 100%;
}
.sidenav-list__item {
  color: black !important;
}
.sidenav-list__item:hover {
  color: white !important;
  background-color: blue;
  margin: 2px 0;
} */
