.layout-sidenav {
  grid-area: sidenav;
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.avatar {
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidenav-content {
  min-height: 40%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .sidenav-list {
  width: 80%;
  height: 100%;
}
.sidenav-list__item {
  color: black !important;
}
.sidenav-list__item:hover {
  color: white !important;
  background-color: blue;
  margin: 2px 0;
} */
